{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/app/globals.css",
  "tailwindFunctions": ["clsx"],
  "tailwindPreserveDuplicates": true,
  "tailwindPreserveWhitespace": true
}
